pip install Django==1.11.7
pip install django-embed-video==1.1.2
pip install MySQL-python==1.2.3
pip install Pillow==4.3.0
pip install djangorestframework==3.7.3
pip install django-oauth-toolkit
pip install django-cors-middleware 
pip install django-oauth2-provider
pip install django-haystack==2.6.1
pip install elasticsearch==6.0.0
pip install drf-haystack==1.6.1
pip install admin-multiupload==1.10

